* { margin: 0; padding: 0; outline:0; }

body {
    font-size: 14px;
    color: #4c4c4c;
    background: #fff;
    border-top: 6px solid #666666;
    padding: 16px;
    margin: 0 auto;
    width:950px;
}
#header {
    height: 32px;
}

#content {
    text-align: center;
}

a { color: #0252aa; text-decoration: none; cursor:pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
textarea { overflow: auto; }
input { border: 0; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }
.clear {clear: both;}

.last { margin-right: 0 !important; }

.error {
    color: #ff0033;
}


#camera{
    width: 340px;
    height: 260px;
    margin: 0 auto;
}

#camera video{
    width: 320px;
    height: 240px;
    border: 3px solid #cccccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; 
}

#camera canvas{
    display:none;
}