* { margin: 0; padding: 0; outline:0; }

body {
    color: #ffffff;
    background: #f47321;
    padding: 16px;
    margin: 0 auto;
    
    text-align: center;
}

#header {
    font-size: 50px;
    margin: 32px;
    height: 110px;
}

#header div{
    padding: 8px;
}

#content {
    font-size: 30px;
}
#content div{
    padding: 12px;
}

#info{
    height: 75px;
}

a { color: #0252aa; text-decoration: none; cursor:pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-size: 30px; }
input { border: 0; }

.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }
.clear {clear: both;}

.error {
    font-size: 25px;
    color: #ff0033;
}

.modal {

}

.btn {
    font-size: 40px;
    width:350px;
    height:80px;
}

#camera{
    width: 480px;
    height: 360px;
    margin: 0 auto;
}

#camera video{
    width: 480px;
    height: 360px;
}

#camera canvas{
    display:none;
}

#username {
    font-size: 30px;
    width: 700px;
    height: 60px;
}