* { margin: 0; padding: 0; outline:0; }

body {
    color: #ffffff;
    background: #f47321;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
    font-family: "ヒラギノ角ゴ6","メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}

div.info {
    margin: 0 auto;
    padding: 8px 0px;  
}

div.sptmy {
    color: #ffffff;
    background: #199bc6;
    padding: 12px 0px;
}

div.sptmy div.link {
    padding: 8px 0px;
}

div.sptmy div.info {
    border: solid 1px #ffffff;
    background: #5fa6db;
    width: 90%;
}

div.share {
    color: #ffffff;
    background: #4db332;
    padding: 12px 0px;
}

div.share div.link {
    padding: 8px 0px;
}


div.share div.info {
    border: solid 1px #ffffff;
    background: #6db92b;
    width: 90%;
}

#header {
    font-size: 50px;
    margin: 40px 0px 25px 0px;
    height: 155px;
    line-height: 52px;
}

#header div{
    padding: 8px;
}

#content{
    font-size: 28px;
    line-height: 32px;
}

#footer {
    padding: 25px 0px 0px 0px;
    font-size: 28px;
    line-height: 32px;  
}

a { color: #ffffff; cursor:pointer; text-decoration: underline;}
a:hover { text-decoration: underline; color: #ffffff; }
a:visited {color: #ffffff;}
a:active {color: #ffffff;}
a img { border: 0; }

input, textarea, select { font-size: 30px; margin: 8px 0px;}
input { border: 0; }

.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }
.clear {clear: both;}

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}

.error {
    font-size: 25px;
    line-height: 29px;
    color: #ff0033;
}

.btn {
    font-size: 35px;
    width:250px;
    height:50px;
}

.btn-group > .btn {
    font-size: 35px;
    line-height: 39px;
    width:350px;
    height:50px;
}

.w350{
    width:350px;
}

div.cameraLogin div.camera{
    width: 480px;
    height: 360px;
    margin: 0 auto;
    border: 5px solid #ffffff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

div.cameraLogin div.info{
    margin: 0 auto;
    padding: 10px 0px; 
}

div.camera video{
    width: 480px;
    height: 360px;
}

div.camera canvas{
    display:none;
}

div.inputLogin {
    font-size: 20px;
    float: right;
    margin: 30px 30px 30px 0px;
}

#username {
    font-size: 30px;
    line-height: 34px;
    width: 700px;
    height: 60px;
}

#input_code {
    font-size: 50px;
    line-height: 54px;
    width: 350px;
    height: 60px;
}

div.input_disp{
    padding:15px;
}
div.input_disp div.detail {
    width: 80%;
    padding:15px;
    background: #ffffff;
    color: #555555;  
    font-size: 35px;
    margin: 0 auto;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px; 
}

/*#disp_name p{
    line-height: 50px;
}*/

#home{
    font-size: 20px;
    line-height: 24px;
    position: absolute;
    top: 24px;
    left: 24px;
}

div.oath{
    background: #ffffff;
    color: #555555;
    font-size: 35px;
    line-height: 39px;
    margin: 30px;
    padding: 15px 15px 35px 15px; 
    top: 50%;
  	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px; 
}
